.u-section-1 .u-sheet-1 {
  min-height: 1265px;
}

.u-section-1 .u-table-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  margin: 28px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
    margin-top: 42px;
    margin-right: -14px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 705px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 362px;
  }
}